@import "tailwindcss";
/* ./src/input.css */
@theme{
  ---color-input_field:
}

<<<<<<< HEAD
=======
  .input{
width: "100%"; padding: "8px"; margin: "8px 0" 
  }  
  .button { width: "100%"; padding: "8px" }
  .link{ color: "blue"; cursor: "pointer" }



/* Define custom theme variables here */
@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  /* You can add more colors, spacing, etc. */
}
>>>>>>> 77d6f0ccccb09603e4bca0d081bf28ceaa78173a
